.formulario{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  >form.formulario__form{
    >.formulario__item{
      box-sizing: border-box;
      margin: 5px;
      &.has-error{
        & input[type="email"],
        & input[type="text"],
        & input[type="tel"]{
          background-color: pink;
        }        
      }
      >.help-block{
        padding: 0.25rem;
        margin-top: 5px;
        color: red;
      }
    }
    & input[type="email"],
    & input[type="text"],
    & input[type="tel"],
    & button[type="submit"],
    & textarea {
      background-color: $color-primary;
      color: white;
      padding: 0.5rem;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      font-weight: bold;
      border: none;
      margin: 0;
    }
    & button[type="submit"] {
      outline: none;
      line-height: 50px;
      font-size: 1.5rem;
      &:hover{
        background-color: $color-hover;
      }
    }
    ::-webkit-input-placeholder {
       color: white;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: white;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: white;
    }

    :-ms-input-placeholder {
       color: white;
    }
  }
}
