.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 800px;
  >section{
    width: 50%;
    box-sizing: border-box;
    overflow: hidden;
  }
}
.boxLeft,
.boxRigth{
  transition: all 1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  position: relative;
  width: 100%;
  height: 100px;
  opacity: 0;
  line-height: 100px;
  margin-bottom: 700px;
  text-align: center;
  color: white;
}
.boxLeft{
  left: -100%;
  background-color: blue;
}
.boxRigth{
  right: -100%;
  background-color: red;
}
.slideToRigth,
.slideToLeft{
  transition: all 1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  opacity: 1;
}

.slideToRigth{
  background-color: red;
  left: 0;
}

.slideToLeft{
  background-color: blue;
  right: 0;
}
