$font-awesome: "FontAwesome", Arial, sans-serif;
$color-primary: rgb(39,198,193);
$color-secondary: #0079C0;
$color-fonts: darkgrey;
$color-hover: #1BA991;
$background-color-topnav: rgba(0,0,0,0.2);
$background-color-container: #F4F3F2;
$height-navbar: 64px;
$height-navbar-little: ($height-navbar)-16px;
